<!-- Column 1: Categories -->
<nav class="sm:w-1/6 w-full p-4 pb-0 overflow-y-auto text-white sm:border-r border-gray-700" id="categoryMenu">
    <div class="cursor-pointer category py-2 px-4 rounded-md hover:bg-gray-700" data-category="all">All Categories</div>
    <div class="border-b border-gray-700 my-4"></div>
    {% for category in report.categories %}
    <div class="cursor-pointer category mt-2 py-2 px-4 rounded-md hover:bg-gray-700"
        data-category="{{ category.name }}">
        {{ category.name }}
    </div>
    {% endfor %}
    <div class="sm:border-0 border-b border-gray-700 my-2"></div>
</nav>