<!-- Column 2: Vulnerabilities List -->
<div class="sm:w-2/6 w-full p-4 overflow-y-auto sm:border-r border-gray-700 text-gray-100" id="vulnerabilitiesList">
    {% for category in report.categories %}
    <div class="category-section mb-5" data-category="{{ category.name }}">
        <h3 class="text-lg font-bold p-3 bg-gray-700 mt-4 rounded-t-md ">
            {{ category.name }}
        </h3>
        {% for vulnerability in category.vulnerabilities %}
        <div
            class="vulnerability p-3 hover:bg-gray-600 border bg-gray-500 border-t-0 border-gray-600 rounded-md rounded-t-none flex flex-col cursor-pointer">
            <div class="flex items-center expand-div">
                <button class="expand-btn bg-blue-500 hover:bg-blue-700 text-white font-bold w-8 h-8 rounded-md">
                    &#x25B6;
                </button>
                <div class="ml-4 w-fit">
                    <div class="font-bold">
                        {{ vulnerability.name | replace(from="_", to=" ") | capitalize }}
                    </div>
                    <div>{{ vulnerability.short_message }}</div>
                </div>
            </div>

            <!-- The hidden details -->
            <div class="additional-details hidden mt-3 p-2 overflow-hidden">
                <table class="table-auto w-full text-sm text-left bg-gray-800">
                    <thead class="text-xs uppercase bg-gray-700 font-bold">
                        <tr>
                            <th class="px-4 py-2 border-b border-gray-600 border-r w-4">Ref</th>
                            <th class="px-4 py-2 border-b  border-gray-600">Location</th>
                        </tr>
                    </thead>
                    <tbody class="divide-y divide-gray-600">
                        {% for finding in report.findings %}
                        {% if finding.vulnerability_id == vulnerability.id %}
                        <tr class="hover:bg-gray-600 finding-detail" finding-id="{{ finding.id }}">
                            <td class="px-4 py-2 text-center border-r border-gray-600">{{ finding.occurrence_index }}
                            </td>
                            <td class="px-4 py-2">{{ finding.span }}</td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>